.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 8rem 2.5rem;
  height: 100vh;
  width: 6rem;

  font-weight: 600;
  font-size: 2.5rem;

  color: var(--textControlBar);
  background-color: var(--bgControlBar);
}

.container figure {
  transform: rotate(-90deg);
}
