.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  vertical-align: center;

  padding: 0 8rem;

  height: 3.75rem;
  font-weight: 600;
  font-size: 2.5rem;

  color: var(--bgControlBar);
}

.sunIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.moonIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
